## Импорт библиотек и данных

In [277]:
pip install vininfo[cli]

Requirement already satisfied: vininfo[cli] in c:\users\seliv\anaconda3\lib\site-packages (1.7.0)
Requirement already satisfied: click in c:\users\seliv\anaconda3\lib\site-packages (from vininfo[cli]) (8.0.4)
Requirement already satisfied: colorama in c:\users\seliv\anaconda3\lib\site-packages (from click->vininfo[cli]) (0.4.5)
Note: you may need to restart the kernel to use updated packages.

In [278]:
import pandas as pd
import matplotlib.pyplot as plt
from vininfo import Vin
import numpy as np
import re
import scipy.stats as stats
from sklearn.preprocessing import LabelEncoder
import seaborn as sns
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import StandardScaler

In [279]:
train_df = pd.read_csv('./train.csv')
test_x = pd.read_csv('./test.csv')
test_y = pd.read_csv('./sample_submission.csv')

In [280]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440236 entries, 0 to 440235
Data columns (total 15 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          440236 non-null  int64
 1   make          432193 non-null  object
 2   model         432113 non-null  object
 3   trim          431899 non-null  object
 4   body          429843 non-null  object
 5   transmission  388775 non-null  object
 6   vin           440236 non-null  object
 7   state         440236 non-null  object
 8   condition     430831 non-null  float64
 9   odometer      440167 non-null  float64
 10  color         439650 non-null  object
 11  interior      439650 non-null  object
 12  seller        440236 non-null  object
 13  sellingprice  440236 non-null  int64
 14  saledate      440236 non-null  object
dtypes: float64(2), int64(2), object(11)
memory usage: 50.4+ MB

In [281]:
test_x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110060 entries, 0 to 110059
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          110060 non-null  int64
 1   make          107999 non-null  object
 2   model         107981 non-null  object
 3   trim          107946 non-null  object
 4   body          107466 non-null  object
 5   transmission  97048 non-null   object
 6   vin           110060 non-null  object
 7   state         110060 non-null  object
 8   condition     107681 non-null  float64
 9   odometer      110041 non-null  float64
 10  color         109902 non-null  object
 11  interior      109902 non-null  object
 12  seller        110060 non-null  object
 13  saledate      110060 non-null  object
dtypes: float64(2), int64(1), object(11)
memory usage: 11.8+ MB

In [282]:
test_y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110060 entries, 0 to 110059
Data columns (total 2 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   vin           110060 non-null  object
 1   sellingprice  110060 non-null  float64
dtypes: float64(1), object(1)
memory usage: 1.7+ MB

## Посмотрим данные

In [283]:
train_df.head()

# train_df.drop(['vin', 'seller'], inplace=True, axis=1)
# test_x.drop(['vin', 'seller'], inplace=True, axis=1)

,year,make,model,trim,body,transmission,vin,state,condition,odometer,color,interior,seller,sellingprice,saledate
0,2011,Ford,Edge,SEL,suv,automatic,2fmdk3jc4bba41556,md,4.2,111041.0,black,black,santander consumer,12500,Tue Jun 02 2015 02:30:00 GMT-0700 (PDT)
1,2014,Ford,Fusion,SE,Sedan,automatic,3fa6p0h75er208976,mo,3.5,31034.0,black,black,ars/avis budget group,14500,Wed Feb 25 2015 02:00:00 GMT-0800 (PST)
2,2012,Nissan,Sentra,2.0 SL,sedan,automatic,3n1ab6ap4cl698412,nj,2.2,35619.0,black,black,nissan-infiniti lt,9100,Wed Jun 10 2015 02:30:00 GMT-0700 (PDT)
3,2003,HUMMER,H2,Base,suv,automatic,5grgn23u93h101360,tx,2.8,131301.0,gold,beige,wichita falls ford lin inc,13300,Wed Jun 17 2015 03:00:00 GMT-0700 (PDT)
4,2007,Ford,Fusion,SEL,Sedan,automatic,3fahp08z17r268380,md,2.0,127709.0,black,black,purple heart,1300,Tue Feb 03 2015 04:00:00 GMT-0800 (PST)

In [284]:
test_x.at[14116, 'saledate'] = 'Tue Jan 13 2015 09:15:00 GMT-0800 (PST)'
train_df['saledate'] = pd.to_datetime(train_df['saledate'], utc=True)
test_x['saledate'] = pd.to_datetime(test_x['saledate'], utc=True)

In [285]:
object_cols = train_df.select_dtypes(include='object').columns.tolist()

print(object_cols)

for item in object_cols:
    if train_df[item].dtype == 'object':
        train_df[item] = train_df[item].str.lower()
        test_x[item] = test_x[item].str.lower()

['make', 'model', 'trim', 'body', 'transmission', 'vin', 'state', 'color', 'interior', 'seller']

In [286]:
def fill_make(row):
    make = row['make']
    vin = row['vin']
    if pd.isna(make):
        vin = Vin(vin)
        return vin.manufacturer
    else:
        return make

train_df['make'] = train_df.apply(fill_make, axis=1)
test_x['make'] = test_x.apply(fill_make, axis=1)

In [ ]:
# display(train_df.groupby('model').head())
grouped_data = train_df.copy()
grouped_data = grouped_data.fillna('unknown')
grouped_data = grouped_data.groupby('make')

res_model_group = pd.DataFrame(columns=['trim', 'body', 'transmission', 'model'])

for name, group in grouped_data:
    body = group['body'].value_counts().idxmax()
    trim = group['trim'].value_counts().idxmax()
    transmission = group['transmission'].value_counts().idxmax()
    model = group['model'].value_counts().idxmax()


    result_row = pd.DataFrame({
        'make': [name],
        'body': [body],
        'trim': [trim],
        'transmission': [transmission],
        'model': [model]
    })

    res_model_group = res_model_group.append(result_row)

In [288]:
res_model_group

          trim     body transmission    model        make
0      unknown  unknown    automatic  unknown          AM
0      unknown  unknown    automatic  unknown       Acura
0      unknown  unknown    automatic  unknown        Audi
0      unknown  unknown    automatic  unknown         BMW
0      unknown  unknown    automatic  unknown       BMW M
..         ...      ...          ...      ...         ...
0         base    sedan    automatic  model s       tesla
0           le    sedan    automatic    camry      toyota
0      se pzev    sedan    automatic    jetta  volkswagen
0           t5    sedan    automatic      s60       volvo
0   comfrtline  unknown      unknown    jetta          vw

[118 rows x 5 columns]

In [289]:
def replace_missing_values(df1, df2):
    merged_df = pd.merge(df1, df2, on='make', how='left')

    merged_df['body'] = merged_df['body_x'].fillna(merged_df['body_y'])
    merged_df['trim'] = merged_df['trim_x'].fillna(merged_df['trim_y'])
    merged_df['model'] = merged_df['model_x'].fillna(merged_df['model_y'])
    merged_df['transmission'] = merged_df['transmission_x'].fillna(merged_df['transmission_y'])
    merged_df.drop(['body_x', 'body_y', 'trim_x', 'trim_y', 'transmission_x', 'transmission_y', 'model_x', 'model_y'], axis=1, inplace=True)

    return merged_df

In [290]:
train_df = replace_missing_values(train_df, res_model_group)
test_x = replace_missing_values(test_x, res_model_group)

In [292]:
display(train_df.info())
display(test_x.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 440236 entries, 0 to 440235
Data columns (total 15 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          440236 non-null  int64
 1   make          440236 non-null  object
 2   vin           440236 non-null  object
 3   state         440236 non-null  object
 4   condition     430831 non-null  float64
 5   odometer      440167 non-null  float64
 6   color         439650 non-null  object
 7   interior      439650 non-null  object
 8   seller        440236 non-null  object
 9   sellingprice  440236 non-null  int64
 10  saledate      440236 non-null  datetime64[ns, UTC]
 11  body          440236 non-null  object
 12  trim          440236 non-null  object
 13  model         440236 non-null  object
 14  transmission  440236 non-null  object
dtypes: datetime64[ns, UTC](1), float64(2), int64(2), object(10)
memory usage: 53.7+ MB

None

<class 'pandas.core.frame.DataFrame'>
Int64Index: 110060 entries, 0 to 110059
Data columns (total 14 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   year          110060 non-null  int64
 1   make          110060 non-null  object
 2   vin           110060 non-null  object
 3   state         110060 non-null  object
 4   condition     107681 non-null  float64
 5   odometer      110041 non-null  float64
 6   color         109902 non-null  object
 7   interior      109902 non-null  object
 8   seller        110060 non-null  object
 9   saledate      110060 non-null  datetime64[ns, UTC]
 10  body          110056 non-null  object
 11  trim          110059 non-null  object
 12  model         110059 non-null  object
 13  transmission  110059 non-null  object
dtypes: datetime64[ns, UTC](1), float64(2), int64(1), object(10)
memory usage: 12.6+ MB

None

In [293]:
column_for_fill = ['trim', 'body', 'model', 'transmission']
test_x[column_for_fill] = test_x[column_for_fill].fillna('unknown')

In [298]:
for item in object_cols:
    if train_df[item].dtype == 'object':
        print(item)
        print(train_df[item].unique())

make
['ford' 'nissan' 'hummer' 'lincoln' 'pontiac' 'hyundai' 'Toyota' 'buick'
 'chevrolet' 'honda' 'acura' 'cadillac' 'gmc' 'saab' 'dodge'
 'mercedes-benz' 'toyota' 'volkswagen' 'Mazda' 'bmw' 'infiniti' 'chrysler'
 'kia' 'Ford' 'Chevrolet USA' 'jaguar' 'subaru' 'jeep' 'lexus' 'mercedes'
 'scion' 'Chevrolet Mexico' 'fiat' 'suzuki' 'Land Rover' 'mazda' 'volvo'
 'audi' 'CAMI' 'mini' 'isuzu' 'GMC Truck' 'mitsubishi' 'Chrysler Canada'
 'Jeep' 'smart' 'porsche' 'Dodge' 'land rover' 'saturn' 'Hyundai' 'ram'
 'DaimlerChrysler AG/Daimler AG' 'oldsmobile' 'Chevrolet' 'Dodge Canada'
 'mercury' 'Porsche car' 'bentley' 'Mitsubishi' 'Mercedes-Benz' 'Cadillac'
 'Scion' 'Volkswagen' 'Mercury' 'BMW' 'Chrysler' 'fisker' 'Lexus' 'Honda'
 'Audi' 'Nissan' 'Dodge Mexico' 'maserati' 'Lincoln' 'Genesis' 'Pontiac'
 'tesla' 'landrover' 'vw' 'Daimler AG (Sprinter)' 'AM' 'Acura' 'GMC'
 'gmc truck' 'Chevrolet Canada' 'rolls-royce' 'ferrari' 'plymouth'
 'lamborghini' 'Maserati' 'Suzuki' 'Smart' 'Kia' 'UnsupportedBrand' 'geo'
 'ford truck' 'Jaguar' 'Buick' 'Oldsmobile' 'aston martin' 'Plymouth'
 'daewoo' 'Mercedes-Benz (Sprinter)' 'mercedes-b' 'Hummer' 'Saturn'
 'dodge tk' 'Saab' 'Volkswagen Commercial Vehicles' 'Ferrari' 'mazda tk'
 'Porsche SUV' 'Subaru' 'Fiat' 'dot' 'BMW M' 'airstream']
model
['edge' 'fusion' 'sentra' 'h2' 'mkz' 'g6' 'escape' 'elantra' 'freestyle'
 'unknown' 'lucerne' 'windstar' 'silverado 1500' 'murano' 'equinox'
 'accord' 'civic' 'mdx' 'cts' 'taurus' 'srx' 'yukon' '9-3' 'explorer'
 'f-150' 'charger' 'armada' 'gl-class' 'avalon' 'tahoe' 'malibu' 'passat'
 'camry' 'flex' '3 series' 'q50' 'altima' 'mustang' '300' 'sonata'
 'envoy xl' 'rogue' 'accent' 'maxima' 'forte' 'xf' 'outback'
 'grand caravan' 'e-class' 'cherokee' 'impala' 'optima' '5 series'
 'expedition' 'is 250' 'mks' '200' 'veloster' 'golf' 'rav4' 'e300dt'
 'five hundred' 'g coupe' 'grand cherokee' 'x-type' 'g convertible'
 'tacoma' 'xa' 'g sedan' 'tl' 'liberty' 'soul' '500l' 'town and country'
 'hhr' 'wrangler' 'reno' 'suburban' 'pt cruiser' 'gx 460' 'sienna'
 'sl-class' 'envoy' 'patriot' 'e-series van' 'versa' 'aspen' 'm'
 'colorado' 'beetle' 'spark' 'rx 330' 'rendezvous' 'town car' '1 series'
 'venture' 'corolla' 'focus' 'mkx' 'mx-5 miata' 'traverse' 'pathfinder'
 'silverado 2500hd' 'ram pickup 1500' 's60' 'a6' 'tsx sport wagon'
 'fusion hybrid' '4runner' 'sorento' 'rx 300' 'explorer sport trac'
 'nitro' '7 series' 'q7' 'odyssey' 'camaro' 'x5' 'm3' 'caliber' 'i35'
 'journey' '5 series gran turismo' 'prius' 'regal' 'cooper countryman'
 'jetta' 'avenger' 'cooper' 'camry hybrid' 'rodeo' 'f-250 super duty'
 'rx 350' 'cruze' 'tsx' 'xj-series' 'savana cargo' 'mazda5' 'escalade'
 'challenger' 'express cargo' 'r-class' 'm-class' 'c-class' 'tiburon'
 'outlander' 'cr-v' 'xc90' 'legacy' 'sierra 1500' 'lacrosse' 'eclipse'
 'rsx' 'es 350' 'sportage' 'avalanche' 'highlander' 'corvette'
 'sonata hybrid' 'ranger' 'navigator' 'aveo' 'fiesta' 'trailblazer' 'cube'
 'pilot' 'fortwo' 'galant' 'century' 'tucson' 'highlander hybrid' 'magnum'
 'f-350 super duty' 'elantra touring' 'silverado 3500hd' 'uplander' 'cx-5'
 'commander' 'compass' 'rogue select' 'c230wz' 'cts coupe' 'ls'
 'outlander sport' 'terrain' 'mazda3' 'h3' '911' 'forester'
 'impala limited' 'durango' 'land cruiser' 'xc' 'slk-class' 'insight'
 '6 series' 'cls-class' 'f150' 's-type' 'panamera' 'frontier' 'x3'
 'enclave' 'range rover sport' 'sonic' 'crown victoria' 'rio' 'dart'
 'e-series wagon' 'mazda6' 'dakota' 'pacifica' 'matrix' 'sebring' 'g5'
 '500' 'freestar' 'gs 350' 'm45' 'g35' 'cobalt' 'forenza'
 'transit connect' 'vue' 'torrent' 'ion' 'neon' 'deville' '370z' 's-10'
 'cx-7' 'lr4' 'a4' 'grand' 'econoline cargo' '1500' 'impreza' 'cadenza'
 'f-450 super duty' 'camry solara' 'touareg' 'a7' 'ls 430' 'fit' 'dts'
 'kizashi' 'prizm' 'santa fe' 'cavalier' 'lesabre' 'fx' 'cutlass ciera'
 'tc' 'jetta sportwagen' 's-class' 'element' 'expedition el'
 'elantra coupe' 'glk-class' 'fx35' 'yaris' 'x6' 'sequoia' 'astro'
 'lx 570' 'acadia' 'cooper paceman' '4 series' 'fj cruiser' 'rl' 'volt'
 'grand prix' '2500' 'sierra 2500hd' 'is 350' 'verano' 'santa' 'cx-9'
 'tundra' 'yukon xl' 'tiguan' 'ram pickup 2500' 'spectra' 'lumina' 'xd'
 'astra' 'silverado 1500 classic' 'mountaineer' 'quest' 'tribute'
 'captiva sport' 'sonoma' 'sable' 'xj' 'leaf' 'continental gtc' 'titan'
 'sierra 3500hd' 'xterra' 'range rover' 'venza' 'new beetle' 'escort'
 'express' 'ct 200h' 'escalade esv' 'qx80' 'gti' 'qx' 'crosstour'
 'cooper clubman' 'mazda2' 'es 330' 'lancer' 'genesis' 'grand vitara'
 'outlook' 'nv cargo' 'caravan' 'xk-series' 'protege' 'jx' 'aura' 'vibe'
 'f-type' 'grand am' 'cl' '300m' 'c-max hybrid' 'mirage' 'santa fe sport'
 'qx56' 'sedona' 's40' 'juke' 'es 300h' 'xb' 'eclipse spyder' 'milan'
 'm35' 'c-max energi' 'mariner' 'z4' 'malibu classic' 'cayenne' 'gs 300'
 'sprinter' 'intrepid' 'town' 'ls 460' 'ilx' 'l-series' 'qx60' 's-series'
 's4' 'i30' 'altima hybrid' 's80' '6' 'escape hybrid' 'monterey'
 'genesis coupe' 'caprice' 'stratus' 'v70' 'tercel' 'fr-s' 'prius v'
 'continental gt' 'sts' 'millenia' 'z3' 'accord crosstour' 'rainier'
 'clk-class' 'elantra gt' 'endeavor' 'monte carlo' 'cougar' 'karma'
 'rabbit' 'cc' 'ats' 'g-class' 'rx 450h' 'ram pickup 3500' 'boxster'
 'azera' 'g37' 'c70' 'xv crosstrek' '3500' '350z' 'tt' 'zephyr'
 '3 series gran turismo' 'xl-7' 'xc60' 'sx4' 'ridgeline' '9-7x' 'bravada'
 'xl7' 'mpv' '9-5' 'jimmy' 'rx 400h' 'escalade ext' 'versa note' 'ex35'
 'a8' 'a5' 's7' 'b9 tribeca' 'crossfire' 'bonneville' 'grand marquis'
 'shelby gt500' 'canyon' 'explorer sport' 'allroad quattro' 'aviator'
 '4 series gran coupe' 'taurus x' 'cl-class' 'rdx' 'continental' 'q5'
 'alero' 'cayman' 'v40' 'g37 coupe' 'aurora' 'expeditn'
 'beetle convertible' 'x1' 'm6' 'escalade hybrid' 'cla-class' 'solstice'
 'is 300' 'eos' 'trailblazer ext' 'lancer sportback' 'xk' 'lx 470'
 'malibu maxx' 'routan' 'es 300' 'gx' 'entourage' 'lancer evolution'
 'x6 m' 'blazer' 'ascender' '750i' 'montero' 'sierra 1500 classic'
 'cv tradesman' 's5' 'rondo' 'a3' 'ex' 'xts' 'quattroporte' 'prius c'
 'tracker' 'granturismo' 'm5' 'mkt' 'corvette stingray' 'lhs' 'veracruz'
 'impreza wrx' 'equus' 'm37' 'trooper' 'sunfire' 'elr' 'wrx'
 'c/v cargo van' 'xc70' 'iq' '960' 'activehybrid x6' 'tribeca'
 'montero sport' 'excursion' '6 series gran coupe' 'econoline wagon'
 'sc 430' 'gx 470' 'fusion energi' '2 series' 'qx4' 'j30' 'freelander'
 'silverado 3500' 'encore' 'gt-r' 'amanti' 'seville' '3' 'is 250 c'
 'mustang svt cobra' 'silverado 2500hd classic' 'borrego' '300zx'
 'integra' 'gs 450h' 'echo' 's90' 'sephia' 'classic' 'concorde' 'gs 460'
 'q60 coupe' 'avalon hybrid' 'sky' 'lx' 'f-150 heritage' 'allroad'
 'promaster cargo van' 'malibu hybrid' 'sprinter cargo' 'ram3500' 'police'
 'model s' 'firebird' 'sc 400' 'hs 250h' 'xg350' 'cabrio' 'mazdaspeed 3'
 'focus st' 'lr3' 'gs 400' 'gr' 'protege5' 'g8' 'l300' 'rs 7' 'aerio'
 's70' 'gs 430' 'intrigue' 'x4' 'thunderbird' 'diamante' 'lr2' 'h2 sut'
 'ssr' 'discovery series ii' 'envoy xuv' 'montana' 'i8' '626'
 'cts-v coupe' 'e350' 'v60' 'sc 300' 'x-trail' 'xg300' 'qx70' 'celica'
 'cooper coupe' 'silverado 1500hd' 'brz' 'prowler' 'zdx' 'cirrus'
 'mazdaspeed mazda3' 'ridgelin' '750li' 'cutlass supreme' 'jetta hybrid'
 'cts wagon' 'range rover evoque' 'is f' 'c30' 'cts-v' 'macan' 'r8'
 'rc 350' 'cr-z' 'q70' 'continental flying spur' 'golf gti' 'spyder'
 '320i' 'b-series truck' 'v50' 'relay' 'e150' 'excurs' 'g37 convertible'
 'e' 'montego' 'rlx' 'fx45' 'cayman s' 'activehybrid 7' 'c/k 3500 series'
 'montana sv6' 'legend' 'eldorado' 'm6 gran coupe' 'mark viii'
 'vue hybrid' 'voyager' 'yukon hybrid' 'q45' 'mariner hybrid'
 'park avenue' 'passport' 'rs 6' 'prius plug-in' 'el' 'sr' 'golf r'
 'mr2 spyder' 'g20' 'navigator l' 'astro cargo' 'transit van' '940' 'r32'
 'discovery' 'murano crosscabriolet' 's2000' 'range' 'q60 convertible'
 'gli' 'ls 400' 'k900' 'mark lt' 'mkc' 'qx50' 'silverado 2500' 'villager'
 'ghost' 'tahoe hybrid' 'baja' 'c240w' 'viper' 'f430' 'm4' 'nv' 'ghibli'
 'g3500' 'gto' 'crown' 'contour' '500-class' 'pickup' 'verona' 'cabriolet'
 'mazdaspeed3' 'silhouette' 'marauder' 'terraza' 'sierra 2500hd classic'
 'california' 'truck' 'jetta gli' 'aztek' 'vitara' 'touareg 2'
 'sierra 3500' 'rx8' 'axiom' 'previa' 'c/k 1500 series' 'gallardo'
 'catera' 'activehybrid 5' 'tts' 'mkz hybrid' 'g55' 'c/v tradesman' 'x5 m'
 'coupe' 'sts-v' 'prelude' 'xlr' 'nv200' 'g3' 'is 350 c'
 'tahoe limited/z71' 'twn/cntry' 'pt' 'savana' 'black diamond avalanche'
 'tracer' 'gla-class' 'ram' '850' 'swift' 'h3t' '42c' 'rodeo sport' '500e'
 'e-250' 's8' 'raider' '300-class' 'rs 4' 'continental gt speed'
 'milan hybrid' 'tribute hybrid' 'cutlass' 'eighty-eight' 'e-150'
 'blackwood' 'accord hybrid' 'i-miev' 'mazdaspeed mazda6' 'i-series'
 'transit wagon' 'sierra 1500 hybrid' 'rc f' 'rangerover' 'safari cargo'
 'comm' 'b-series pickup' 'phaeton' 'esteem' 'mazdaspeed protege'
 'v8 vantage' 's10' 's6' 'sq5' 'ls 600h l' 'q3' 'cooper roadster' 'cl55'
 'e250' 'f250' '3000gt' 'rs 5' 'safari' 's-10 blazer' 'g1500' 'alp'
 'eighty-eight royale' 's55' '200sx' '750lxi' 'eurovan' 'rx-8' 'fx50'
 'ram van' 'granturismo convertible' 'db9' 'nubira' 'windstar cargo'
 '420-class' 'roadmaster' 'ciera' 'b1500' 'f-150 svt lightning'
 'b-class electric drive' 'mazdaspeed mx-5 miata' 'ram cargo'
 'twn&country' 'aura hybrid' 'silverado 1500 hybrid' 'm56' 'sl55'
 'carrera' 'f350' 'expedit' 'z4 m' 'nv passenger' 'yukon denali'
 'sierra 1500hd' 'silverado 3500 classic' '8 series' '9-2x' 'regency'
 'sierra 2500' 'g2500' 'tt rs' 'pathfind' 'tempo' 'civic del sol' 'siera'
 'rr' 'b200' '400-class' 'ml55 amg' 'corsica' 'breeze'
 'continental gtc speed' 'pursuit' 'optra' 'fleetwood' 'lx 450' 'subrbn'
 'riviera' 'e-350' 'capt' 'sls amg' '190-class' '328i' '300e' 'ss' 'c230'
 'rrs' 'mystique' 'wave' 'flying spur' '323i' 'uplandr' 'paseo' 'le baron'
 'c/k 2500 series' 't100' '420sel' 'amigo' 'spark ev' 'aspire' '7' 'h1'
 'b2300' 'spirit' 'rapide' 'equator' 'mountnr' 'b-series'
 'continental flying spur speed' 'interstate' 'c240s' 'cts-v wagon'
 '458 italia' 'metro' 'continental supersports' 'f-250' 'gransport' 'g500']
trim
['sel' 'se' '2.0 sl' ... '2.5 x l.l.bean edition' '3500 high roof 140 wb'
 '4x4 v6 xlt sport']
body
['suv' 'sedan' 'wagon' 'unknown' 'minivan' 'extended cab' 'regular cab'
 'coupe' 'supercrew' 'convertible' 'crew cab' 'supercab' 'hatchback'
 'g coupe' 'g convertible' 'access cab' 'g sedan' 'e-series van'
 'quad cab' 'tsx sport wagon' 'van' 'cts coupe' 'koup' 'king cab'
 'double cab' 'elantra coupe' 'crewmax cab' 'genesis coupe' 'g37 coupe'
 'club cab' 'beetle convertible' 'mega cab' 'regular-cab' 'xtracab'
 'q60 coupe' 'promaster cargo van' 'cts-v coupe' 'cts wagon' 'cab plus 4'
 'g37 convertible' 'transit van' 'q60 convertible' 'cab plus' 'ram van'
 'granturismo convertible' 'cts-v wagon']
transmission
['automatic' 'manual' 'unknown']
vin
['2fmdk3jc4bba41556' '3fa6p0h75er208976' '3n1ab6ap4cl698412' ...
 'wbaea53588cv90110' '3c6ur5dl2eg243568' 'jn8as5mt9dw038107']
state
['md' 'mo' 'nj' 'tx' 'mi' 'nc' 'fl' 'oh' 'ca' 'az' 'ga' 'tn' 'in' 'pa'
 'va' 'wi' 'co' 'ny' 'il' 'nv' 'mn' 'wa' 'sc' 'la' 'ne' 'ok' 'or' 'on'
 'ma' 'ab' 'pr' 'hi' 'ut' 'qc' 'ms' 'nm' 'ns' 'al']
color
['black' 'gold' 'silver' 'blue' 'white' 'gray' '—' 'red' 'brown' 'green'
 'beige' 'orange' nan 'off-white' 'burgundy' 'yellow' 'charcoal' 'purple'
 'turquoise' 'lime' 'pink']
interior
['black' 'beige' 'gray' 'tan' 'brown' '—' 'off-white' nan 'blue' 'white'
 'silver' 'red' 'green' 'gold' 'purple' 'orange' 'burgundy' 'yellow']
seller
['santander consumer' 'ars/avis budget group' 'nissan-infiniti lt' ...
 'autostar enterprises' 'kocourek nissan' 'studio city auto group']

In [302]:
train_df['transmission'] = train_df['transmission'].replace('unknown', train_df['transmission'].mode()[0])
test_x['transmission'] = test_x['transmission'].replace('unknown', test_x['transmission'].mode()[0])

In [ ]:
train_df.columns[train_df.isna().any()].tolist()

['condition', 'odometer', 'color', 'interior']

In [296]:
test_x.columns[test_x.isna().any()].tolist()

['condition', 'odometer', 'color', 'interior']

In [ ]:
train_df.loc[train_df['make'].isna()].head()

Empty DataFrame
Columns: [year, make, vin, state, condition, odometer, color, interior, seller, saledate, body, trim, model, transmission]
Index: []

In [ ]:
test_x.loc[test_x['make'].isna()]

Empty DataFrame
Columns: [year, make, vin, state, condition, odometer, color, interior, seller, saledate, body, trim, model, transmission]
Index: []

In [ ]:
vin.verify_checksum()

True

## Работа с датой

## Работа с пропусками

## Работа с дубликатами

## Работа с выбросами